process{
  withName:runSeqyclean {
  	container = 'docker://staphb/seqyclean:1.10.09'
  }
  withName:runShovill {
  	container = 'docker://staphb/shovill:1.0.4'
  }
  withName:runQuast {
    container = 'docker://staphb/quast:5.0.2'
  }
  withName:runSerotypefinder {
    container = 'docker://staphb/serotypefinder:1.1'
  }
}


singularity.enabled = true
singularity.autoMounts = false
singularity.runOptions =''
singularity.cacheDir = './singularities'
